.colored-number {
    color: #FF8911;
    font-size: 1.5rem;
}

.ordered-list {
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding: 0;
    margin-bottom: 2%;
}

.ordered-list li {
    list-style-position: inside;
    margin-right: 20px;
    padding: 0.5rem;
}